<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>RecoveryScore</string>
	<key>CFBundleName</key>
	<string>RecoveryScore</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We use Health data (like HRV and Resting Heart Rate) to compute your readiness score.</string>
</dict>
</plist>
